main {
  margin-top: 30px;
  min-width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Horizontal Scrolling Effect
.scrolling--wrapper {
  min-width: 100%;
  white-space: nowrap;
  overflow: auto;
}

// Hiding Scrollbar
.scrolling--wrapper::-webkit-scrollbar {display: none;}