@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500');


html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: $ff-primary;
  font-size: 16px;
  background: linear-gradient(to right, $c-primary, $c-secondary);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {list-style: none;}

a {color: inherit;}

input {
  max-width: 100%;
  &::placeholder {
    font-family: sans-serif;
  }
}

