// ----------------------------------------
// ICON FONT SIZES
// ----------------------------------------

.ion-custom--xs {font-size: 8px}
.ion-custom--sm {font-size: 16px}
.ion-custom--md {font-size: 24px;}
.ion-custom--lg {font-size: 32px;}
.ion-custom--xlg {font-size: 34px;}

// ----------------------------------------
// Mixins
// ----------------------------------------

@mixin slider-override {
  width: 15px;
  height: 15px;
  background: $c-accent2;
  border-radius: 50%;
  outline: none;
  transition: transform .2s ease;
  cursor: pointer;
}

// ----------------------------------------
// Keyframes
// ----------------------------------------

/* Modal appears rising from beneath navigation */
@keyframes animatebottom {
  from {bottom: -412px;}
  to {bottom: 0;}
}

@keyframes animatebottom--reverse {
  from {bottom: 0;}
  to {bottom: -412px;}
}