// -----------------------------------------------------
// COLOR PALETTE
// -----------------------------------------------------

$c-primary:#6dd5ed;
$c-secondary:#63EECF;
$c-accent: #F9F871;
$c-accent2: #8CF6AF;


// -----------------------------------------------------
// FONT 
// -----------------------------------------------------

// FONT STACK

$ff-primary: 'Ubuntu', sans-serif;

// FONT WEIGHT

$fw-medium: 500; 