// -----------------------------------------------------
// COLOR PALETTE
// -----------------------------------------------------

$c-primary: #183661;
$c-secondary: #1c4b82;
$c-accent: #dd6b4d;
$c-accent2: #E9E4F0;
