// -----------------------------------------------------
// COLOR PALETTE
// -----------------------------------------------------

$c-primary:#6dd5ed;
$c-secondary:#63EECF;
$c-accent: #F9F871;
$c-accent2: #8CF6AF;

// DESCRIPTIVE COLOR
$c-white: #fff;
$c-white--alt: #fbfafc;



// -----------------------------------------------------
// FONT 
// -----------------------------------------------------

// FONT STACK
// $ff-primary: 'Ubuntu', sans-serif;
$ff-primary: 'Roboto', sans-serif;


// FONT WEIGHT
$fw-light: 300;
$fw-medium: 400; 