.nav {
  width: 100%;
  padding: 8px .625rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $c-accent;
  background: $c-accent;
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

// Set Score Icon
.nav__item i.fa-sliders-h {
  margin: 3px auto;
  font-size: 1.275rem;
}

.nav__item--highlight {color: $c-accent2;}

.nav__item-subtext {font-size: .625rem;}