.nav {
  width: 100%;
  padding: 15px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $c-primary;
  background: $c-primary;
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

// Set Score Icon
.nav__item i.fa-sliders-h {
  margin-bottom: 4px;
  font-size: 1.375rem;
}

.nav__item--highlight {color: $c-accent;}

.nav__item-subtext {font-size: .625rem;}