.scorecard {
  margin: 5px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  background-color: $c-white--alt; 
  border-radius: .975rem;
}

.scorecard__header {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scorecard__text {
  font-weight: $fw-light;
  color: $c-accent2;
}

.scorecard__score {
  margin: 0 auto;
  font-size: 12rem;
  font-weight: $fw-light;
  text-align: center;
  color: #333;
}

.scorecard__divider {border: .05rem solid $c-accent2;}

.scorecard__player {
  margin: 2px auto 12px auto;
  padding: .6rem;
  outline-color: $c-accent;
  border: 1px solid #ccc;
  border-radius: 4px;
}
